$blue-color: #2287A2;

.task-root{
    display: flex;
    flex: 4;
    justify-content: center;
  

    .inbox-container {
        width: 50vw;
        margin-top: 30px;
    }

    .section-title {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

}

p {
    opacity: 0.6;
}

.selectedTaskTxt {
    font-weight: 600;
    opacity: 0.8;
}

.delete-btn {
    background-color: $blue-color;
    margin-left: 10px;
}
